<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= JSON.stringify(htmlWebpackPlugin.options.title) %></title>
    <meta name="Description" content="Encrypt a form message."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Message Encryption form"/>
    <meta property="og:type" content="application/pgp-keys"/>
    <meta property="og:description" content="Encrypt a form message.."/>
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4970">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">KK</a>
</nav>

<main role="main" class="container">

    <div class="jumbotron">
        <h1>Contact us</h1>
        <p class="lead">If you feel like reaching out, please use this form to encrypt your message, or if you prefer use the <a href="#pgpkeya"> provided public PGP key</a> to encrypt the message yourself.</p>
        <hr class="my-4">
        <div class="form-group">
            <form id="contact-form">

                <label for="email">E-mail address</label>
                <input type="email" id="email" class="form-control" aria-describedby="emailHelp">

                <label for="message">Message</label>
                <textarea id="message" class="form-control" rows="5"></textarea>
                <button id="encrypt" type="button" class="mt-2 btn btn-outline-success btn-lg float-right">Encrypt
                </button>
            </form>
        </div>
    </div>
    <div class="jumbotron">
        <a id="pgpkeya" class="lead">Public PGP key.</a>
        <textarea readonly id="pgpkey" class="form-control" rows="20"> <%= JSON.stringify(htmlWebpackPlugin.options.pgpkey) %></textarea>
    </div>

</main>
</body>
</html>
